# Node modules
/node_modules

# PnP files
/.pnp
.pnp.js
.pnp.*

# Yarn directories (exceto arquivos importantes)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build output
/build
/dist
/out
/.next
/build/
temp/
cache/
.cache/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript
*.tsbuildinfo
next-env.d.ts

# Tailwind CSS cache
.tailwindcache/

# Misc
.DS_Store
*.pem
test-results.log

# Cypress files
cypress/videos/
cypress/screenshots/
cypress/cache/

# Vercel
.vercel